<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">
    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
     <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>

  </head>    
     <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">IN<span>GENIOUS.</span></a>
	      <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav nav ml-auto">
	          <li class="nav-item"><a href="#home-section" class="nav-link"><span>Inicio</span></a></li>
	          <li class="nav-item"><a href="#about-section" class="nav-link"><span>Nosotros</span></a></li>
	          <li class="nav-item"><a href="#speakers-section" class="nav-link"><span>TecTalks</span></a></li>
	          <li class="nav-item"><a href="#schedule-section" class="nav-link"><span>Talleres</span></a></li>
	          <li class="nav-item"><a href="#sponsor-section" class="nav-link"><span>Patrocinadores</span></a></li>
	          <li class="nav-item"><a href="#blog-section" class="nav-link"><span>Blog</span></a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>

	   <section id="home-section" class="hero js-fullheight">
	  	<h3 class="vr"><span>Bienvenidos</span> a INGENIOUS.</h3>
	  	<div id="timer" class="text-center">
			  <div class="time" id="days"></div>
			  <div class="time" id="hours"></div>
			  <div class="time" id="minutes"></div>
			  <div class="time" id="seconds"></div>
		</div>
		  <div class="home-slider owl-carousel js-fullheight">
	      <div class="slider-item js-fullheight">
	      	<div class="overlay"></div>
	        <div class="container-fluid px-0">
	          <div class="row d-md-flex no-gutters slider-text js-fullheight align-items-end justify-content-end" data-scrollax-parent="true">
	          	<div class="one-third order-md-last js-fullheight img" style="background-image:url(images/hola2.jpg);">
	          		<div class="overlay"></div>
	          	</div>
		          <div class="one-forth js-fullheight d-flex align-items-start align-items-md-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
		          	<div class="text mt-4 mt-md-0">
			            <h1 class="mb-4"><img style='width: 100%' src="images/logoeng.png"></h1>
			            <h2 class="mb-4">Octubre 16, 2019 - 12:00pm-18:00pm</h2>
			            <p>{{#link-to "ingenious.registro"}}<a class="btn btn-primary py-3 px-4">Registro</a>{{/link-to}} <a href="#" class="btn btn-white py-3 px-4">Ver Video</a></p>
		            </div>
		          </div>
	        	</div>
	        </div>
	      </div>

	      <div class="slider-item js-fullheight">
	      	<div class="overlay"></div>
	        <div class="container-fluid px-0">
	          <div class="row d-flex no-gutters slider-text js-fullheight align-items-end justify-content-end" data-scrollax-parent="true">
	          	<div class="one-third order-md-last js-fullheight img" style="background-image:url(images/fondo1.jpg);">
	          		<div class="overlay"></div>
	          	</div>
		          <div class="one-forth js-fullheight d-flex align-items-start align-items-md-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
		          	<div class="text mt-4 mt-md-0">
			            <h1 class="mb-4">El Congreso Interactivo de <span>Ingenierias</span></h1>
			            <h2 class="mb-4">Octubre 16, 2019 - 12:00pm-18:00pm</h2>
			            <p>{{#link-to "ingenious.registro"}}<a class="btn btn-primary py-3 px-4">Registro</a>{{/link-to}} <a href="#" class="btn btn-white py-3 px-4">Ver Video</a></p>
		            </div>
		          </div>
	        	</div>
	        </div>
	      </div>
	    </div>
    </section>

    <section class="ftco-about ftco-counter ftco-no-pb img ftco-section" id="about-section">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 col-lg-5 d-flex">
    				<div class="img-about img d-flex align-items-stretch">
    					<div class="overlay"></div>
	    				<div class="img d-flex align-self-stretch align-items-center" style="background-image:url(images/hola.jpeg);">
	    				</div>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-7 pl-lg-5 pt-5">
    				<div class="row justify-content-start pb-3">
		          <div class="col-md-12 heading-section ftco-animate">
		          	<span class="subheading">Bienvenidos</span>
		            <h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">Sobre Nosotros</h2>
		            <p>En 2019 llega la primera edición del evento para ingenierías INGENIOUS la cual tiene como MISIÓN reunir a tres ingenierías de distintas áreas en un mismo espacio donde puedan interactuar y aprender una de la otra, para enriquecer sus conocimientos y lograr tener una visión global enfocada en las  ingenierías</p>
		            <p>Dicho evento está organizado completamente por alumnos de distintas carreras del área de Ingeniería del Tecnológico de Monterrey. Se busca que mediante una conferencia magistral, un taller (seis talleres a elegir) y micro conferencias (TecTalks) se motive a los participantes a llevar a cabo proyectos en conjunto con otras áreas de ingenierías así como proyectos más especializados en su carrera.</p>
		          </div>
		        </div>
	          <div class="counter-wrap ftco-animate d-flex mt-md-3">
              <div class="text p-4 pr-5 bg-primary">
              	<p class="mb-0">
	                <span class="number" data-number="6">0</span>
	                <span>Talleres</span>
                </p>
              </div>
	          </div>
	        </div>
        </div>
    	</div>
    </section>

    <section class="ftco-section ftco-no-pb ftco-no-pt">
    	<div class="container-fluid px-0">
    		<div class="row no-gutters">
	  			<div class="col-md-6 col-lg-3 ftco-animate">
	  				<div class="gallery img" style="background-image: url(images/fondo4.jpg);">
	  				</div>
	  			</div>
	  			<div class="col-md-6 col-lg-3 ftco-animate">
	  				<div class="gallery img" style="background-image: url(images/proyectil.jpg);">
	  				</div>
	  			</div>
	  			<div class="col-md-6 col-lg-3 ftco-animate">
	  				<div class="gallery img" style="background-image: url(images/lab.jpg);">
	  				</div>
	  			</div>
	  			<div class="col-md-6 col-lg-3 ftco-animate">
	  				<div class="gallery img" style="background-image: url(images/fondo3.jpg);">
	  				</div>
	  			</div>
    		</div>
    	</div>
    </section>
	

		<section class="ftco-section ftco-speakers" id="speakers-section">
			<div class="container">
				<div class="row justify-content-center pb-5">
          <div class="col-md-12 heading-section heading-section-white text-center ftco-animate">
          	<span class="subheading">Tec Talks</span>
            <h2 class="mb-4">Conoce a nuestros ponentes</h2>
            <p>INGENIOUS ofrece seis talleres, dos de cada una de las áreas de Ingeniera participantes (Industrial, Tecnologías de la Informacíon y Biotecnología), el asistente tendrá la oportunidad de elegir entre uno de ellos.</p>
          </div>
        </div>
        <div class="row">
					<div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch justify-content-end">
								<div class="img align-self-stretch" style="background-image: url(images/person_1.jpg);"></div>
							</div>
							<div class="text d-flex align-items-center pt-3">
								<div>
									<h3 class="mb-2">Gabriela <br>Ferrer </h3>
									<span class="position mb-4">Proyectil, MX</span>
									<ul class="ftco-social">
		                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
		              </ul>
		            </div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch justify-content-end">
								<div class="img align-self-stretch" style="background-image: url(images/person_2.jpg);"></div>
							</div>
							<div class="text d-flex align-items-center pt-3">
								<div>
									<h3 class="mb-2">Mariana <br>Monroy</h3>
									<span class="position mb-4">Empresa,MX</span>
									<ul class="ftco-social">
		                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
		              </ul>
		            </div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch justify-content-end">
								<div class="img align-self-stretch" style="background-image: url(images/person_3.jpg);"></div>
							</div>
							<div class="text d-flex align-items-center pt-3">
								<div>
									<h3 class="mb-2">Nombre <br>Apellido</h3>
									<span class="position mb-4">Empresa,MX</span>
									<ul class="ftco-social">
		                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
		              </ul>
		            </div>
							</div>
						</div>
					</div>
				

					<div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch justify-content-end">
								<div class="img align-self-stretch" style="background-image: url(images/person_4.jpg);"></div>
							</div>
							<div class="text d-flex align-items-center pt-3">
								<div>
									<h3 class="mb-2">Nombre <br>Apellido</h3>
									<span class="position mb-4">Empresa,MX</span>
									<ul class="ftco-social">
		                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
		              </ul>
		            </div>
							</div>
						</div>
					</div>				
				</div>
			</div>
		</section>

		<section class="ftco-section bg-light" id="schedule-section">
			<div class="container">
				<div class="row justify-content-center pb-5">
		          <div class="col-md-12 heading-section text-center ftco-animate">
		          	<span class="subheading">Talleres</span>
		            <h2 class="mb-4">Oferta de Talleres</h2>
		            <p>INGENIOUS ofrece seis talleres, dos de cada una de las áreas de Ingeniera participantes (Industrial, Tecnologías de la Informacíon y Biotecnología), el asistente tendrá la oportunidad de elegir entre uno de ellos.</p>
		          </div>
		        </div>
				<div class="ftco-schedule">
					<div class="row">
            <div class="col-md-4 nav-link-wrap">
	            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	              <a class="nav-link ftco-animate active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true"><span> Ingeniería</span> Industrial & de Sistemas</a>

	              <a class="nav-link ftco-animate" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Tecnologías de la Información</a>

	              <a class="nav-link ftco-animate" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Bioingeniería</a>
	            </div>
	          </div>
	          <div class="col-md-8 tab-wrap">
	            
	            <div class="tab-content" id="v-pills-tabContent">

	              <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
	              	<div class="speaker-wrap ftco-animate d-flex">
	              		<div class="img speaker-img" style="background-image: url(images/taller2.jpg);"></div>
	              		<div class="text pl-md-5">
	              			<span class="time">12:30PM - 15:30PM</span>
	              			<h2><a href="#">Planeacion y Logística Operacional </a></h2>
	              			<p>Planeación y toma de decisiones que dan por resultado adecuados planes de logística y de la cadena de suministros y que las metas financieras de una empresa.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">Nombre Apellido</a> <span class="position">Cargo of Empresa</span></h3>
	              		</div>
	              	</div>
	              	<div class="speaker-wrap ftco-animate d-flex">
	              		<div class="img speaker-img" style="background-image: url(images/taller5.jpg);"></div>
	              		<div class="text pl-md-5">
	              			<span class="time">12:30PM - 15:30PM</span>
	              			<h2><a href="#">LEGO Supply Chain Management</a></h2>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">Nombre Apellido</a> <span class="position">Cargo of Empresa</span></h3>
	              		</div>
	              	</div>
	              </div>

	              <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-day-2-tab">
	              	<div class="speaker-wrap ftco-animate d-flex">
	              		<div class="img speaker-img" style="background-image: url(images/taller1.jpeg);"></div>
	              		<div class="text pl-md-5">
	              			<span class="time">12:30PM - 15:30PM</span>
	              			<h2><a href="#">Modelado e Impresión 3D </a></h2>
	              			<p> Aprende los fundamentos básicos de la impresión 3D, cómo funciona y qué es lo que puedes hacer con esta tecnología. Descubre diversas plataformas para encontrar modelos 3D y aprende cómo imprimir.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">César González</a> <span class="position">Proyectil MX</span></h3>
	              		</div>
	              	</div>
	              	<div class="speaker-wrap ftco-animate d-flex">
	              		<div class="img speaker-img" style="background-image: url(images/taller6.png);"></div>
	              		<div class="text pl-md-5">
	              			<span class="time">12:30PM - 15:30PM</span>
	              			<h2><a href="#">Blockchain</a></h2>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">Anthony Chávez Ramírez</a> <span class="position">Blockchain Academy México</span></h3>
	              		</div>
	              	</div>
	              </div>
	              <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-day-3-tab">
	              	<div class="speaker-wrap ftco-animate d-flex">
	              		<div class="img speaker-img" style="background-image: url(images/taller3.jpg);"></div>
	              		<div class="text pl-md-5">
	              			<span class="time">12:30PM - 15:30PM</span>
	              			<h2><a href="#">Energía Renovable </a></h2>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">Jorge Fernando</a> <span class="position">ITESM</span></h3>
	              		</div>
	              	</div>
	              	<div class="speaker-wrap ftco-animate d-flex">
	              		<div class="img speaker-img" style="background-image: url(images/taller4.jpg);"></div>
	              		<div class="text pl-md-5">
	              			<span class="time">08:00AM - 10:00AM</span>
	              			<h2><a href="#">Detección de Mutagenos</a></h2>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">Pablo Octavio</a> <span class="position">UAEH</span></h3>
	              		</div>
	              	</div>
	              </div>
	            </div>
	          </div>
	        </div>
        </div>
			</div>
		</section>

		<section id="sponsor-section" class="ftco-section ftco-subscribe img" style="background-image: url(images/fondo6.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row justify-content-center pb-5">
          <div class="col-md-9 heading-section heading-section-white text-center ftco-animate">
            <h2 class="mb-4">Patrocinadores</h2>
            <div class="row">
            	<div class="col-md-2">
            		<img style='width: 100%' src="images/pat1.png">
            	</div>
            	<div class="col-md-2">
            		<img style='width: 100%' src="images/pat7.png">
            	</div>
            	<div class="col-md-2">
            		<img style='width: 100%' src="images/pat3.png">
            	</div>
            	<div class="col-md-2">
            		<img style='width: 100%' src="images/pat4.png">
            	</div>
            	<div class="col-md-2">
            		<img style='width: 100%' src="images/pat5.png">
            	</div>
            	<div class="col-md-2">
            		<img style='width: 100%' src="images/pat6.png">
            	</div>
            </div>
            <br>
             <div class="row">
            	<div class="col-md-3">
            		<img style='width: 100%' src="images/pat6.png">
            	</div>
            	<div class="col-md-3">
            		<img style='width: 100%' src="images/pat5.png">
            	</div>
            	<div class="col-md-3">
            		<img style='width: 100%' src="images/pat4.png">
            	</div>
            	<div class="col-md-3">
            		<img style='width: 100%' src="images/pat1.png">
            	</div>
            </div>


          </div>
        </div>
			</div>
		</section>

		<section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-5">
	          <div class="col-md-7 heading-section text-center ftco-animate">
	            <span class="subheading">Itinerario</span>
	            <h2 class="mb-4">Itinerario del evento</h2>
	            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
	            <br>
	          </div>
	          <table class="table table-bordered">
					<thead class="thead-light">
						<tr>
							<th class="head" scope="col"></th>
							<th class="head" scope="col">Sesión</th>
							<th class="head" scope="col">Ponente</th>
							<th class="head" scope="col">Lugar</th>
							<th class="head" scope="col">Horario</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="name" scope="row">01</th>
								<td>Registro</td>				      
								<td>Isabelle Cooper</td>				      
								<td>3rd Hall Room</td>				      
								 <td>02.00</td>					      
						</tr>
						<tr>
							<th class="name" scope="row">02</th>
								<td>Breakfast and rest</td>				      
								<td>N/A</td>				      
								      <td>4th Hall Room</td>				      
								      <td>02.00</td>						      
								    </tr>
								    <tr>
								      <th class="name" scope="row">03</th>
								      <td>Reception &amp; Taling Seats</td>				      
								      <td>Jane Daniel</td>				      
								      <td>2nd Hall Room</td>				      
								      <td>02.00</td>						      
								    </tr>
								    <tr>
								      <th class="name" scope="row">04</th>
								      <td>Next generation speech</td>				      
								      <td>Billy Barton</td>				      
								      <td>1st Hall Room</td>				      
								      <td>02.00</td>						      
								    </tr>
								    <tr>
								      <th class="name" scope="row">05</th>
								      <td>Sppech for young people</td>				      
								      <td>Flora Gonzales</td>				      
								      <td>4rd Hall Room</td>				      
								      <td>02.00</td>					      
								    </tr>
								    <tr>
								      <th class="name" scope="row">06</th>
								      <td>Lunch Break</td>				      
								      <td>N/A</td>				      
								      <td>3rd Hall Room</td>				      
								      <td>02.00</td>					      
								    </tr>
								    <tr>
								      <th class="name" scope="row">07</th>
								      <td>Sppech for Middle aged people</td>				 
								      <td>Francisco Barrett</td>				      
								      <td>1st Hall Room</td>				      
								      <td>02.00</td>					      
								    </tr>											    
								  </tbody>
							</table>			
	        </div>
    	</div>
    </section>

 <section class="ftco-section bg-light" id="blog-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Blog</span>
            <h2 class="mb-4">Últimas noticias</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <a href="single.html" class="block-20" style="background-image: url('images/image_1.jpg');">
              </a>
              <div class="text mt-3 float-right d-block">
              	<div class="d-flex align-items-center mb-3 meta">
	                <p class="mb-0">
	                	<span class="mr-2">March 23, 2019</span>
	                	<a href="#" class="mr-2">Admin</a>
	                	<a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
	                </p>
                </div>
                <h3 class="heading"><a href="single.html">Why Lead Generation is Key for Business Growth</a></h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <a href="single.html" class="block-20" style="background-image: url('images/image_2.jpg');">
              </a>
              <div class="text mt-3 float-right d-block">
              	<div class="d-flex align-items-center mb-3 meta">
	                <p class="mb-0">
	                	<span class="mr-2">March 23, 2019</span>
	                	<a href="#" class="mr-2">Admin</a>
	                	<a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
	                </p>
                </div>
                <h3 class="heading"><a href="single.html">Why Lead Generation is Key for Business Growth</a></h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry">
              <a href="single.html" class="block-20" style="background-image: url('images/image_3.jpg');">
              </a>
              <div class="text mt-3 float-right d-block">
              	<div class="d-flex align-items-center mb-3 meta">
	                <p class="mb-0">
	                	<span class="mr-2">March 23, 2019</span>
	                	<a href="#" class="mr-2">Admin</a>
	                	<a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
	                </p>
                </div>
                <h3 class="heading"><a href="single.html">Why Lead Generation is Key for Business Growth</a></h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

     <section class="ftco-section contact-section ftco-no-pb" id="contact-section">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Contacto</span>
            <h2 class="mb-4">Contáctanos</h2>
            <p>Si cuentas con preguntas, no dudes en ponerte en contacto con nosotros a través de cualquiera de los canales mencionados a continuación.</p>
          </div>
        </div>

        <div class="row block-9">
          <div class="col-md-7 order-md-last d-flex">
            <form action="#" class="bg-light p-4 p-md-5 contact-form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Nombre">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Asunto">
              </div>
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Mensaje"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Enviar Mensaje" class="btn btn-primary py-3 px-5">
              </div>
            </form>
          
          </div>

          <div class="col-md-5 d-flex">
          	<div class="row d-flex contact-info mb-5">
		          <div class="col-md-12 ftco-animate">
		          	<div class="box p-2 px-3 bg-light d-flex">
		          		<div class="icon mr-3">
		          			<span class="icon-map-signs" style="color: #302aa3"></span>
		          		</div>
		          		<div>
			          		<h3 class="mb-3">Dirección</h3>
				            <p> Blvd. Felipe Ángeles 2003, Venta Prieta, 42080 Pachuca de Soto, Hgo.</p>
			            </div>
			          </div>
		          </div>
		          <div class="col-md-12 ftco-animate">
		          	<div class="box p-2 px-3 bg-light d-flex">
		          		<div class="icon mr-3">
		          			<span class="icon-phone2" style="color: #302aa3"></span>
		          		</div>
		          		<div>
			          		<h3 class="mb-3">Número Telefónico</h3>
				            <p><a href="tel://1234567920" style="color: #302aa3">+ 771 240 9254</a></p>
			            </div>
			          </div>
		          </div>
		          <div class="col-md-12 ftco-animate">
		          	<div class="box p-2 px-3 bg-light d-flex">
		          		<div class="icon mr-3">
		          			<span class="icon-paper-plane" style="color: #302aa3"></span>
		          		</div>
		          		<div>
			          		<h3 class="mb-3">Correo Electrónico</h3>
				            <p><a href="mailto:info@yoursite.com" style="color: #302aa3">A01273987@itesm.com</a></p>
			            </div>
			          </div>
		          </div>
		          <div class="col-md-12 ftco-animate">
		          	<div class="box p-2 px-3 bg-light d-flex">
		          		<div class="icon mr-3">
		          			<span class="icon-globe" style="color: #302aa3"></span>
		          		</div>
		          		<div>
			          		<h3 class="mb-3">Website</h3>
				            <p><a href="#" style="color: #302aa3">yoursite.com</a></p>
			            </div>
			          </div>
		          </div>
		        </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb">
			<iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3746.9059614302078!2d-98.76959398498175!3d20.096217524332367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d109fefeb83fcd%3A0x5cc17a78baa01ede!2sTecnol%C3%B3gico+de+Monterrey+Campus+Hidalgo!5e0!3m2!1ses!2smx!4v1560378811496!5m2!1ses!2smx" width="600" height="450" frameborder="0" style="border:0; width:100%" allowfullscreen></iframe>
	</section>
	<footer style="background: #232931;padding: 7em 0;z-index: 0;">
		<h3 style="margin-top: 0;margin-bottom: 1rem; color: rgba(255, 255, 255, 0.7);text-align: center !important;font-size:1em;">Copyright ©2019 All rights reserved</h3>
	</footer>